*~
*.txt
*.xls
*.gen
*.fa
*.fq
*.fastq
*.fastq.gz
*.fq.gz
*.pdf
*.bam
*.bai
*.sam
*.xlsx
*.ods
*Rhistory
*.vcf*
*.bcf
*.csi
*.csv
*.bed
*.map
*.ped
*.fna*
*.fai
*#
*.swp
*.zip
*.html
multiqc_data/
*.log
*.DS_Store
03_results/*
10_log_files/*

